/* Reset styles */
body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
  }
  
  /* Body styles */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  /* Header styles */
  .weather-header {
    background: linear-gradient(to right, #007bff, #8a2be2);
  }
  
  .weather-header h1 {
    margin: 0;
    padding: 10px;
    color: #fff;
    text-align: center;
  }


  /* Container styles */
  .container-fluid {
    padding: 15px;
  }
  
  /* Sidebar styles */
  .sidebar {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Form styles */
  .form {
    margin-bottom: 15px;
  }

  .five-day {
    margin: 15px;
  }
  
  .form-input {
    margin: 10px;
    padding: 15px;
    font-size: 16px;
  }
  
  .search-button {
    background-color: #000000;
    color: #fff;
    margin-top: 25px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Search History styles */
  .list-group {
    margin-top: 15px;
  }
  
  .history-item {
    margin-bottom: 5px;
    padding: 10px;
    margin: 10px;
  }
  
  /* Today and Forecast sections styles */
  #today {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  #forecast {
    background-color: #781ff4;
    color: #fff;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Forecast item styles */
  #forecast .col-md-2 {
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  

/* Styling for the Clear History button */
.btn-clear-history {
    background-color: #c73232; /* Red background color */
    color: #fff; /* White text color */
    padding: 4px 8px; 
    margin: 5px;
    border: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; 
  
    /* Hover effect */
    &:hover {
      background-color: #cc0000; /* Darker red on hover */
    }
  }
  
  /* Responsive styles for small screens */
  @media (max-width: 767px) {
    .col-lg-3 {
      margin-top: 15px;
    }
  
    .col-lg-9 {
      order: 1;
    }
  
    .form-input {
      width: calc(100% - 20px);
      order: 0;
    }
  }
  